<div class="jumbotron">
  <h2>Product # <%= @product.id%></h2>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @product.name %></dd>
  <dt>Customer</dt>
  <dd><%= @product.customer.name %></dd>
  <dt>Description</dt>
  <dd><%= @product.description %></dd>
</dl>