<div class="jumbotron">
  <h1>Creating customer</h1>
</div>

<div class="input-group">
  <span class="input-group-addon">Name</span>
  <input type="text" class="form-control" placeholder="Username">
</div>
<p></p>
<p></p>
<p></p>
 <p><button type="button" class="btn btn-default">Create</button> </p>
